.cf{zoom:1;}
.cf:before,.cf:after{ content:""; display:table;}
.cf:after{ clear:both;}

img{ border:none; vertical-align:middle; max-width:100%;}
img{width:auto\9; height:auto\9;}

.font120{ font-size:120%;}
.font140{ font-size:140%;}
.font160{ font-size:160%;}
.font180{ font-size:180%;}

.textCenter{ text-align:center;}
.textLeft{ text-align:left;}
.textRight{ text-align:right;}

.pb20{ padding-bottom:20px;}
.pb40{ padding-bottom:40px;}
.pb80{ padding-bottom:80px;}

.pr20{ padding-right:20px;}


#ondBtnDl{ width:320px; margin:0 auto 40px;}
#ondBtnDl dt{ font-size:120%; margin-bottom:10px; font-size:120%; color:#666;}
#ondBtnDl dd{ margin-bottom:20px;}

#ondThemeHeader {
position:relative; z-index:5; height:60px; color:#FFF;

background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ed9b9b), color-stop(0.00, #ffd1e1));
background: -webkit-linear-gradient(#ffd1e1, #ed9b9b);
background: -moz-linear-gradient(#ffd1e1, #ed9b9b);
background: -o-linear-gradient(#ffd1e1, #ed9b9b);
background: -ms-linear-gradient(#ffd1e1, #ed9b9b);
background: linear-gradient(#ffd1e1, #ed9b9b);

background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #79c1b0), color-stop(0.00, #acd5c9));
background: -webkit-linear-gradient(#acd5c9, #79c1b0);
background: -moz-linear-gradient(#acd5c9, #79c1b0);
background: -o-linear-gradient(#acd5c9, #79c1b0);
background: -ms-linear-gradient(#acd5c9, #79c1b0);
background: linear-gradient(#acd5c9, #79c1b0);

box-shadow:rgba(227, 227, 227, 0.7) 0px 3px 3px 3px;
-webkit-box-shadow:rgba(227, 227, 227, 0.7) 0px 3px 3px 3px;
-moz-box-shadow:rgba(227, 227, 227, 0.7) 0px 3px 3px 3px;
}

#ondHeaderLogo{ position:absolute; top:20px; left:40px;}
#ondHeaderLogo a{ color:#FFF;}
#ondHeaderLogout{ position:absolute; top:20px; right:40px; color:#FFF;}
#ondHeaderLogout img{ margin:-5px 0 0; height:18px;}
#ondHeaderLogout a{ color:#FFF; padding-right:20px;}

.content {
  position: relative;
  min-height: 0;
  background: #fff;
  margin:0 40px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 40px 20px 0px 20px;
}

#ondContentControlWrapper{ margin:0 40px;}
.content {
  position: relative;
  min-height: 0;
  background: #fff;
  max-width:960px;
  min-width:480px;
  margin:0 auto;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 40px 20px 0px 20px;
}


#ondContentWrapper{ text-align:center;}
#ondContentWrapper h1 span{ display:block; font-size:50%; color:#666; margin-top:5px; margin-bottom:40px;}

.ondPhotoWrapper{ margin:-20px 20px 40px;}

ul.ondDefaultBtn{ padding:0;}
ul.ondDefaultBtn li{ list-style:none; float:left; width:50%; margin-bottom:10px; text-align:center;}
ul.ondDefaultBtn li a{ width:90%; margin:0 auto; padding:20px 0; font-size:120%;}
ul.ondDefaultBtn li a img{ display:block; margin:10px auto; width:50%;}

ul.ondTypeSelectBtn{ padding:0;}
ul.ondTypeSelectBtn li{ list-style:none; float:left; width:50%; margin-bottom:10px; text-align:center;}
ul.ondTypeSelectBtn li a{ background-color:#fefefe;border: medium groove #FFBF00; width:80%; margin:0 auto; padding:10px 0; font-size:120%;}
ul.ondTypeSelectBtn li a img{ display:block; margin:10px auto; width:75%;}


ul.ondDefaultBA{ padding:0;}
ul.ondDefaultBA li{ list-style:none; float:left; width:50%; margin-bottom:10px; text-align:center;}
ul.ondDefaultBA li a{ border:none; padding:0; margin:0;}
ul.ondDefaultBA li a:hover{ border:none; padding:0; margin:0; background:none;}
ul.ondDefaultBA li a img{ width:90%; margin:0 auto; margin-bottom:10px;}

.btn-primary{ padding:10px 40px; }

#ondGalleryBottom{ padding-bottom:40px;}

#ondFooter{ text-align:center;}
#ondFooter p{ margin:10px auto;}

.image-data{ margin:10px 0 0;}
.fa-plus{ display:block; overflow:hidden; padding-top:20px; height:0; width:19px; background:url(../img/icon-plus.png) center center no-repeat;}
.fa-comments{ display:none;}
.fa-thumbs-up{ display:none;}