body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:6px;
  top:579px;
  width:130px;
  height:49px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:49px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1 {
  position:absolute;
  left:15px;
  top:55px;
  width:495px;
  height:30px;
  font-size:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:241px;
  top:170px;
  width:539px;
  height:330px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:330px;
}
#u4 {
  position:absolute;
  left:2px;
  top:157px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:560px;
  top:55px;
  width:420px;
  height:39px;
  font-size:24px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:39px;
}
#u6 {
  position:absolute;
  left:0px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:630px;
  top:315px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:340px;
  top:220px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:420px;
  top:420px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:172px;
  top:576px;
  width:634px;
  height:29px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:29px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:172px;
  top:602px;
  width:634px;
  height:29px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:29px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:15px;
  top:6px;
  width:252px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:727px;
  top:12px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:790px;
  top:12px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:858px;
  top:8px;
  width:110px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:618px;
  top:170px;
  width:162px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:26px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
