body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:6px;
  width:252px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:574px;
  top:12px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:637px;
  top:12px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:451px;
  width:130px;
  height:49px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:49px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:700px;
  top:8px;
  width:110px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:30px;
  top:50px;
  width:495px;
  height:30px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:140px;
  top:100px;
  width:539px;
  height:330px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:330px;
}
#u13 {
  position:absolute;
  left:2px;
  top:157px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:329px;
  top:234px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:460px;
  top:50px;
  width:360px;
  height:39px;
  font-size:24px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
}
#u17 {
  position:absolute;
  left:0px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:550px;
  top:280px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:190px;
  top:150px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:9px;
  width:106px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:250px;
  top:310px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:550px;
  top:380px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:176px;
  top:451px;
  width:634px;
  height:29px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:29px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:176px;
  top:477px;
  width:634px;
  height:29px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:29px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  word-wrap:break-word;
}
